.sampleMeal
{
    background-image: linear-gradient(315deg, #c2d9ba 0%, #c2d9ba 74%);  
    height: 100vh;
    min-height : '100vh';
    overflow-y: scroll;
}

.searchForm
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.ingredientFilter
{
    padding: 5px 20px;
    border-radius: 8px;
}

.calorieFilter
{
    padding: 5px 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
}

.dietFilter,.healthFilter
{
    padding: 5px 20px;
    margin-left: 5px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.searchButton
{
    padding: 5px 25px;
    font-size: large;
    border-radius: 8px;
    cursor: pointer;
    background-image: linear-gradient(315deg, #71ac1a 0%, #9ecc65 74%);
}
.recipe_title
{
    text-decoration: 2px underline;
}
.recipe
{
    border-radius: 10px;
    box-shadow: 0px 5px 20px gray;
    margin: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(to right, #050505 0%, rgb(46, 45, 45) 100%);
    align-items: center;
    width: 25%;
    color: white;
    font-size: 1vw;
}

.image
{
    border-radius: 50px;
    width: 200px;
    height: 200px;
}


.protein_color
{
    height: 15px;
    width: 15px;
    background-color: rgb(10, 168, 10);
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.carb_color
{
    height: 15px;
    width: 15px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.fat_color
{
    height: 15px;
    width: 15px;
    background-color: rgba(255, 0, 0, 0.534);
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.disp_macros_info
{
    display: inline-flex;
    text-align: justify;
}

.URL
{
    font-size: 1.2rem;
    color: white;
    line-height: 1.5;
}

.calories
{
    font-size: 1.5rem;
    line-height: 1.5;
}

.kcal
{
    font-size: 1.0rem;
    line-height: 1.5;
}
